<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WriteLog" value="1" />
    <add key="ServerIP" value="101.200.180.166" />
    <!--<add key="ServerIP" value="127.0.0.1" />-->
    <add key="RemotingPort" value="8800" />
    <add key="u" value="" />
    <add key="p" value="" />
    <add key="repglycuresis" value="1" />
    <add key="repFrist" value="1" />
    <add key="repTargetcomparison" value="1" />
    <add key="repdiabetes" value="1" />
    <add key="timerEnable" value="1" />
    <add key="title" value="百年养生客户端"/>
    <add key="WX_APP_ID" value="wx716d0e54be9f424f" />
    <add key="WX_APP_SECRET" value="300cf9b094ee754bc2467bfcbe9e77a6" />
    <add key="WX_APP_REDIRECT" value="http%3a%2f%2fdhms.bnys.cn%2fWeiXin%2fLoginIndex" />
    <add key="WX_TEMPLATE_ID" value="_-9sZGwXfGod4XRrxdovRYFfL9cgYJyH6XYM197vV0c" />
    <add key="WX_TEMPLATE_RSID" value="hm87KfFVy40fBGXmIrt3wE5XjzDrUSv2edzvnpy8eSk" />
    <add key="WX_DOMAIN" value="http://dhms.bnys.cn" />
  </appSettings>
  <runtime>
    <!-- WARNING: will load assemblies from remote locations as fully trusted! -->
    <!--解决远程磁盘程序集加载权限（注意：只能放到末尾）-->
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>