<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TmoReport.Properties.Settings.tmo_userinfoConnectionString"
            connectionString="Data Source=|DataDirectory|\ReportData\tmo_userinfo.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>