<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 日志控制开关-->
    <add key="WriteLog" value="1" />
    <!--Remoting服务配置-->
    <add key="IPAddress" value="127.0.0.1" />
    <add key="Port" value="8800" />
    <add key="RemotingType" value="0" />
    <!--数据库配置-->
    <!--<add key="DataName" value="tmo01" />
    <add key="DataType" value="SQLSERVER" />
    <add key="DataIP" value="127.0.0.1" />
    <add key="DataPort" value="1433" />
    <add key="DName" value="sa" />
    <add key="DPwd" value="sa123" />-->
    <add key="DataName" value="tmo2" />
    <add key="DataType" value="MYSQL" />
    <add key="DataIP" value="101.200.180.166" />
    <!--<add key="DataIP" value="127.0.0.1" />-->
    <add key="DataPort" value="3306" />
    <add key="DName" value="root" />
    <add key="DPwd" value="tmo.root" />
    <!--年龄更新时间-->
    <add key="AgeUpTime" value="" />
    <!--客户端更新文件夹-->
    <add key="ClientUpdateDir" value="" />
    <!--健康行动计划pdf存储文件夹-->
    <add key="acPath" value="D:\TmoCode\5-TmoWebclient\TmoWebclient\TmoWebclent\Content\pdfs"/>
    <add key="WX_APP_ID" value="wx716d0e54be9f424f" />
    <add key="WX_APP_SECRET" value="f1c263918c5a7b028cb81dd27a9aaa04" />
    <add key="WX_APP_REDIRECT" value="http%3a%2f%2fdhms.bnys.cn%2fWeiXin%2fLoginIndex" />
    <add key="WX_TEMPLATE_ID" value="_-9sZGwXfGod4XRrxdovRYFfL9cgYJyH6XYM197vV0c" />
    <add key="WX_TEMPLATE_ID1" value="_-9sZGwXfGod4XRrxdovRYFfL9cgYJyH6XYM197vV0c" />
    <add key="WX_DOMAIN" value="http://dhms.bnys.cn" />
  </appSettings>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <!-- WARNING: will load assemblies from remote locations as fully trusted! -->
    <!--解决远程磁盘程序集加载权限（注意：只能放到末尾）-->
    <loadFromRemoteSources enabled="true" />
  </runtime>
</configuration>